html{
    cursor: url(../imagens/goku1.png) 30 30, auto;
}


body{
    background-image: url(../imagens/bg.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    height: 190px;

}


.esfera1 {
    width: 50px;
    height: 50px;
}

.esfera2 {
    width: 70px;
    height: 70px;
}


.esfera3 {
    width: 90px;
    height: 90px;
}

.ladoB{
   transform: scaleX(-1); 
}

.painel {
    position: absolute;
    width: 310px;
    padding: 5px;
    left: 0px;
    bottom: 0px;
    border-top: solid 1px #fff;
    background-color: #fff;
    opacity: 0.8;
}

.vidas{
    float: left;
}

.cronometro{
    float: left;
    font-size: 20px;
    font-weight: bold;
}

.img-index{
    width: 35%;
}

.img-loser{
    width: 45%;
}
.img-win{
    width: 45%;
}