html{
    cursor: url(../imagens/goku1.png) 30 30, auto;
}


.app{
    background-image: url("../imagens/bg.png");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    position: absolute;
    background-size: cover;
    left: 0;
    right: 0;
    top:0;
    background-position: bottom;
    overflow-x: hidden;
}


.esfera1 {
    width: 50px;
    height: 50px;
}

.esfera2 {
    width: 70px;
    height: 70px;
}


.esfera3 {
    width: 90px;
    height: 90px;
}

.ladoB{
   transform: scaleX(-1); 
}

.painel {
    position: absolute;
    width: 320px;
    padding: 5px;
    left: 0px;
    bottom: 0px;
    border-top: solid 1px #fff;
    background-color: #fff;
    opacity: 0.8;
}

.vidas{
    float: left;
}
.vidas img{
    width: 49px;
}
.cronometro{
    float: left;
    font-size: 20px;
    font-weight: bold;
}

.img-index{
    width: 35%;
}

.img-loser{
    width: 45%;
}
.img-win{
    width: 45%;
}

.btn-sound{
    font-size: 30px;
    color: red;
    cursor: pointer;
}

@media (max-width:412px){
    .app{
        background-position: center;
    }
    .img-win, .img-loser, .img-index{
        margin-top: 90px;
        width: 100%;
    }   

    .esfera1 {
        width: 30px;
        height: 30px;
    }
    
    .esfera2 {
        width: 50px;
        height: 50px;
    }
    
    
    .esfera3 {
        width: 70px;
        height: 70px;
    }

}